<link rel="stylesheet" type="text/css" href="\styles\register.css">

<div class="container-icon mt-5">
  <div class="row">
    <div class="col">
      <div class="icons">
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
  </div>
</div>
{{!-- setting form register forms --}}
<div class="container mt-5">
  <div class="row">
    <div class="col header col-12">
      <h1>Welcome to Hanover Lacrosse! </h1>
      <h2>please register to use our site</h2>
      <p class="login">or log in <a href="/login">Here</a></p>
    </div>
  </div>
      <div class="row">
        <div class="below column col-12">
            <h3> Register Below</h3>
        </div>
    </div>
  <div class="row">

    <div class="col reg">
      <form class="register info col-sm-12 offset-md-1 col-md-10">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Enter email">

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" id="password-input" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">First Name</label>
          <input type="name" id="firstName-input" class="form-control" placeholder="first name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Last Name</label>
          <input type="name" id="lastName-input" class="form-control" placeholder="last name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">phone number</label>
          <input type="phone" id="phone-input" class="form-control" placeholder="phone number">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">role</label>
          <input type="role" id="role-input" class="form-control" placeholder="parent, coach, or player">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div class="bottom mb-5">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>