<link rel="stylesheet" type="text/css" href="\styles\login.css">



<div class="container-icon mt-5">
  <div class="row">
    <div class="col">
      <div class="icons">
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="header col">
      <h1>Only Coaches are permitted to add events.  Please click below to return to Schedule.</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-5"></div>
      <div class="col-4">
      <a class="btn btn-primary" href="/schedule" role="button">Back to Schedule</a>
      </div>
      <div class="col"></div>
  </div>
</div>
</div class="bottom mb-5">



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/login.js"></script>