<script>
    $(function () {
        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
            editable: true,
            header: { center: 'month,listMonth' },
            // buttons for switching between views
            views: {
                month: { // name of view
                    titleFormat: 'MMMM YYYY'
                    // other view-specific options here
                },
                listMonth: {
                },
                 
            },

            eventSources: [
                // your event source
                {
                    url: '/api/events', // use the `url` property
                    color: 'seagreen',    // an option!
                    textColor: 'black'  // an option!
                }
                // any other sources...
            ],
             timezone: "local"
        });
    });

</script>
<link rel="stylesheet" type="text/css" href="\styles\styles.css">
<link rel="stylesheet" type="text/css" href="\styles\schedule.css">
<!-- THE NAV BAR -->
<div class="topnav text-center">
    <a  href="/home">HOME</a>
    <a class="active col-xs-12" href="/schedule" class="col-xs-12">SCHEDULE</a>
    <a href="/user" class="col-xs-12">CONTACTS</a>
    <a href="/forum" class="col-xs-12">FORUM</a>
    <a href="/logout" class="col-xs-12">logout</a>
</div>

<div class="container">

    <div class="row">
        <div class="col"></div>
        <div class="col-6">
        </div>
        <div class="col button-row"> 
             <a class="btn btn-primary" href="/addevent" role="button">Add Event</a>
            
        </div>

    </div>

  </div>
  <div class="row">
    <div class="col"></div>
    <div id='calendar' class="col-7"></div>
    <div class="col"></div>

  </div>



</div>
<footer class="footer">
    <div class="footer-container col-12">
        <div class="row copyright">
            <div class="col">
                <p>Copyright, Team X, 2018 ©</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="icons">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube-square"></i>
                </div>
            </div>
        </div>
</footer>
