
.topnav {
    background-color: #333;
    background-color: #fb511b;
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
}
.topnav a {
    color: #f2f2f2;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 15px;
    position: sticky;
    font-weight: bold; 
    text-align: center; 
    font-family: 'Cinzel', serif;
}
   
.topnav a:hover {
    background-color: #ddd;
    background-color:#fb511b;
    color: black;
}
.topnav a.active {
    background-color:white; 
    color: black; 
}
.contact-list {
    padding-bottom: 60px; 
    }
    
    .table-spot {
        display: flex; 
        justify-content: center; 
    }
    
    
    .table-head {
    background-color:#fb511b;
    color: white; 
    font-size: 20px; 
    border-style: groove;
    }
    
    .table {
        border-style: double;
        font-size: 20px;
    }
    
    .person {
    background-color: white; 
    border-bottom-style: dashed;
    }

    
.footer {
    background-color: #333; 
    background-color: #fb511b;
    color: white; 
    padding: 25px; 
 }
 .footer p {
     margin-bottom: 0;
     text-align: center; 
 }
 .footer-container {
     text-align: center; 
     color: #fb511b;
     font-size: 45px; 
     font-weight: 400; 
 }
 .copyright {
     font-size: 25px;
     color: #fb511b;
     color: #333; 
     color: white; 
 }
 .icons {
     color: #fb511b;
     color: #333; 
     color: white; 
 }
 .icons :hover {
     color: white;
     color: #333; 
 }
    
    /*RESPONSIVE CSS BELOW*/
    
    /* Large devices (desktops, 992px and up) */
    @media screen and (max-width: 1200px) {
        .table {
            font-size: 18px;
        }
        .table-head
        {
            font-size: 18px; 
        }
        
    }
    
    /* Medium devices (992px and up) */
    @media (max-width: 992px) { 
        .table {
            font-size: 12px;
        }
        .table-head
        {
            font-size: 12px;
        }
    }
    
    /* Medium devices (tablets, 768px and up) */
    
    @media (max-width: 768px) { 
        .table {
            font-size: 8px; 
        }
        .table-head
        {
            font-size: 8px; 
        }
    }
    
    /* Small devices (landscape phones, 576px and up) */
    @media (max-width: 576px) { 
        .table {
            font-size: 8px; 
        }
        .table-head  {
            font-size: 8px; 
        }
    }