*{
    box-sizing: border-box;
}
body { 
    background-size: cover;
    background-color:  #fb511b;
}
.container-icon {
    text-align: center; 
    color: white; 
    font-size: 45px; 
    font-weight: 400;  
}
.container {
/* background-color: limegreen; */
background-color: white; 
padding-bottom: 50px;
border-style: ridge;
}
.header {
    /* background-color:lightpink; */
    text-align: center;
    color: #fb511b;
    padding-top: 60px; 
    padding-bottom: 10px; 
}
.info {
    font-weight: bold; 
    margin-bottom: 30px; 
    /* background-color:yellow;  */
} 